.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.video-container {
  display: flex;
  justify-content: center;
}

.movie-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  font-family: 'Array', sans-serif;
  font-size: 30px;
  font-weight: 1;
  color: #27343a;
  font-style: bold;
  margin-bottom: 20px;
}

.movie-description {
  font-family: 'Array', sans-serif;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  width: 50vw;
}

.video-container video {
  width: 700px; 
  height: 580px; 
}
