.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  z-index: 1000;
}

.navbar-expanded {
  width: 530px; 
}

.art-options {
  font-size: 37px;
  font-family: 'Array', sans-serif !important;
  margin-left: 9vw;
  color: #000000;
}

.nav-lang {
  font-family: 'Array', sans-serif;
  color: #000000;
  margin-right:0.500em;
}

.class-lang {
  margin-left:6vw;
  margin-bottom: 2vw;
}

.class-lang-expanded {
  margin-right: 2vw;
  align-self: flex-end; 
  margin-bottom: 3vw;
  margin-top: -4vw; 
}

.language-button {
  background: none;
  border: none;
  padding: 8px 15px;
  font-family: 'Array', sans-serif  !important;
  color: #000000;
  cursor: pointer;
}

.language-separator {
width: 50px;
  height: 1px;
  background-color:  #000000;
  margin: 10px 0;
  display: block;
}

.logo-class {
  margin-top: 2vw;
}

.sketchNav{
  margin-top: 10vw;
}

.logo-class-expanded {
  position: relative; 
  margin-left: 17vw;
}

.logo2 {
  position: absolute;
  left: 0;
  top: -5vw;
  margin-left: -4vw;
  height: 300px;
  width: auto;
}
.logo21 {
  position: absolute;
  left: 0;
  top: -5vw;
  height: 300px;
  width: auto;
}

.close-button {
  font-size: 24px;
  border: none;
  background: none;
  font-size: 37px;
  font-family: 'Array', sans-serif;
  color:  #000000;
  margin-left:0.250em;
}

.open-button {
  font-size: 24px;
  border: none;
  background: none;
  font-size: 37px;
  font-family: 'Array', sans-serif;
  color:  #000000;
}

.language-button.selected {
  color: #4d4d4d;
}

.nav-link.selected {
  color: #505050;
}
