.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 21%;
  max-width: 300px; 
  background-color: rgba(245, 252, 255, 0.439);
  border-right: 1.5px solid black; /* Nuevo borde en lugar de la sombra */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Array", sans-serif;
  z-index: 1000;
}

.vertical-logo{
  font-family: "Array", sans-serif;
  color: #000000;
  font-size: 2.5vw;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 3vw;

}

.navbar-closed {
  width: 5%; 
  max-width: 400px; 
}

.art-options {
  font-size: 2.5vw; 
  font-weight: bold;
  color: #000000;
  margin-left: 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.art-options-closed {
  font-size: 0px;
  font-weight: bold;
  color: #000000;
  margin-top: 2vw;
  margin-left: 1vw;
}

.nav-lang {
  font-weight: bold;
  color: #000000;
  font-size: 1.1vw;
  margin-bottom: 5vh;
}

.sidebar .class-lang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.language-button {
  background: none;
  border: none;
  font-family: "Array", sans-serif !important;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
}

.text-logo{
  font-family: "Array", sans-serif;
  color: #000000;
  font-size: 2.5vw;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.2em; 
}
.navbar-brand {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo-class-closed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button{
  font-size: 3vw; 
  border: none;
  background: none;
  font-family: "Array", sans-serif;
  color: #000000;
  margin-bottom: 1vw;
  cursor: pointer;
  font-weight: bold;
}

.open-button {
  font-size: 2vw; 
  border: none;
  background: none;
  font-family: "Array", sans-serif;
  color: #000000;
  margin-bottom: 1vw;
  cursor: pointer;
  font-weight: bold;
  transform: rotate(90deg);

}

.language-button.selected {
  color: #4d4d4d;
  font-weight: bold;
}

.nav-link.selected {
  color: #505050;
  font-weight: bold;
}

.language-separator {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin: 1vw 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%; 
    max-width: none; 
    height: 100vh;
    background-color: rgba(245, 252, 255, 0.787);
  }

  .navbar-closed {
    width: 7%; 
    max-width: none; 
  }

  .logo2 {
    width: 55%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }

  .art-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }


.language-separator {
  width: 85%;
  height: 2px;
  background-color: #000000;
  margin: 1vw 0;
  display: block;
}

  .art-options-closed {
    font-size: 0px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .language-button {
    font-size: 6.5px;
  }

  .logo-class {
    margin-top: 20px;
  }

  .sketchNav {
    margin-top: 100px;
  }

  .close-button {
    font-size: 10vw;
    margin-bottom: 110px;
  }
  .open-button {
    font-size: 5vw; 
  }

  .vertical-logo{
    font-size: 7.0vw;
  }

  .text-logo{

    font-size: 7.5vw;

  }

}
