.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 21%; /* Cambiado a un ancho relativo */
  max-width: 300px; /* Ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
  background-color: rgba(255, 255, 255, 0.562);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.navbar-closed {
  width: 5%; /* Ajustado el ancho expandido */
  max-width: 400px; /* Ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
}

.art-options {
  font-size: 2.3vw; /* Tamaño de fuente relativo */
  font-family: 'Array', sans-serif !important;
  color: #000000f5;
  margin-left: 1vw;
  position: relative;
}

.art-options-closed {
  font-size: 0px; /* Tamaño de fuente relativo */
  font-family: 'Array', sans-serif !important;
  color: #000000;
  margin-top: 2vw;
  margin-left: 1vw;
}

.nav-lang {
  font-family: 'Array', sans-serif;
  color: #000000;
  font-size: 1.1vw;
}

.sidebar .class-lang {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.language-button {
  background: none;
  border: none;
  font-family: 'Array', sans-serif !important;
  color: #000000;
  cursor: pointer;
}

.logo-class {
  margin-top: 2vw;
}

.logo-class-closed {
  position: relative;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.logo1 {
  width: auto;
  height: 15vw;
}

.logo2 {
  position: absolute;
  left: 0;
  top: -7vw;
  height: 20vw; /* Tamaño de imagen relativo */
  width: auto;
}

.close-button,
.open-button {
  font-size: 2vw; /* Tamaño de fuente relativo */
  border: none;
  background: none;
  font-family: 'Array', sans-serif !important;
  color: #000000;
  margin-bottom: 1vw;
}

.language-button.selected {
  color: #4d4d4d;
}

.nav-link.selected {
  color: #505050;
}

.language-separator {
  width: 100%;
  height: 2px;
  background-color: #5c5c5c;
  margin: 1vw 0; /* Margen relativo */
  display: block;
  font-family: 'Array', sans-serif !important;
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 25%; /* Ocupa todo el ancho disponible */
    max-width: none; /* Sin ancho máximo */
    height: 100%;
  }

  .navbar-closed {
    width: 8%; /* Ocupa todo el ancho disponible */
    max-width: none; /* Sin ancho máximo */
  }

  .art-options {
    font-size: 16px; /* Tamaño de fuente fijo para dispositivos móviles */
    margin-left: 10px; /* Ajuste de margen */
  }

  .art-options-closed {
    font-size: 0px; /* Tamaño de fuente relativo */
    margin-top: 20px; /* Ajuste de margen */
    margin-left: 10px; /* Ajuste de margen */
  }

  .language-button {
    font-size: 6.5px; /* Tamaño de fuente fijo para dispositivos móviles */
  }

  .logo-class {
    margin-top: 20px; /* Ajuste de margen */
  }

  .sketchNav {
    margin-top: 100px; /* Ajuste de margen */
  }

  .close-button,
  .open-button {
    font-size: 16px; /* Tamaño de fuente fijo para dispositivos móviles */
    margin-bottom: 10px; /* Ajuste de margen */
  }

  
  
}