/* SketchList.css */
.sketch-video-list {
  width: 100%; /* Ancho total de la página */
  text-align: center; /* Alinea los elementos hijos horizontalmente */
}

.sketch-video-container {
  width: 25%; /* Ajusta el tamaño de cada contenedor según sea necesario */
  margin: 10px; /* Espaciado entre los contenedores */
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: solid 2px rgb(0, 0, 0);
  padding: 10px;
}

.sketch-video-container video {
  width: 100%; /* El video ocupará todo el espacio disponible dentro del contenedor */
  height: auto;
  display: block;
}

.video-title {
  margin-top: 10px; /* Espaciado entre el video y el título */
  text-align: center; /* Alinea el texto en el centro */
  font-family: "Array", sans-serif;
  font-size: 1.5vw;
}

.sketch-video-list-title {
  font-family: "Array", sans-serif;
  font-size: 1.5vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
