.titleSketch {
    font-family: 'Array', sans-serif;
    font-size: 30px;
    color: #27343a;
    text-align: center;
    margin-bottom: 40px; 
    margin-top: 20px; 
}

.sketchList {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
}

.sketchList li {
    width: 25%; 
    margin-bottom: 50px;
    margin-right: 20px; 
    border: 1px solid #ccc;
    padding: 10px; 
    box-sizing: border-box; 
    text-align: center; 
}

.sketchImage {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 375px) {
    .sketchList {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .sketchList li {
      width: 100%;
      margin-right: 0;
    }
  }