.title {
  font-family: "Array", sans-serif;
  font-size: 30px;
  font-weight: 1;
  color: #27343a;
  text-align: center;
  font-style: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.artist {
  background-color: white;
  border: solid 2px rgb(0, 0, 0);
  flex-basis: calc(33.33% - 20px); /* Ancho fijo para cada contenedor */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1100px; /* Ancho máximo del contenedor padre */
  margin: 0 auto;
}

.artist:hover {
  border-color: rgb(255, 0, 0); /* Cambiamos el color del borde cuando se pasa el cursor */
}

.artist .image {
  margin-bottom: 10px;
}

.artist .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.artist .line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.artist .detail {
  font-family: "Array", sans-serif;
  text-align: center;
}

.artist:hover {
  transform: scale(1.01);
}

.artist {
  font-family: "Array", sans-serif;
  margin: 0;
}

.name {
  color: #3c3737;
  font-size: large;
  font-weight: 1000;
}

.barra_img {
  width: 100%;
  height: 50px;
}


@media only screen and (max-width: 1224px) {
  .artists-container {
    display: flex;
    justify-content: center;
    flex-direction:column ;
    width: 80%;
  }
}
