.artistName {
  font-family: 'Array', sans-serif;
  font-size: 30px;
  color: #27343a;
  text-align: center;
  margin-bottom: 10px;
}

.artistDescription {
  font-family: 'Array', sans-serif;
  font-size: 15px;
  font-weight: 10;
  color: #27343a;
  text-align: center;
  width: 40vw;
}

.artistDetailContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  margin-top: 5vw;
}

.detailsContainer {
  display: flex;
}

.descriptionContainer {
  margin-top: 20px; 
}

.containerImage {
  flex-shrink: 0;
  border: 2px solid rgba(157, 165, 168, 0.3);
  padding: 5px; 
  margin-left: 5vw; 
  box-shadow: 2px 2px 5px rgba(157, 165, 168, 0.2);
}

.product1 {
  width: 400px; 
  height: auto; 
}
