.profile {
  margin-left: 20vw;
}

.profile-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 10vw;
}


.username {
  font-family: 'Array', sans-serif;
  font-size: 50px;
  margin-left: 200px;
}

.profile-image-container {
  margin-left: -20vw; /* Ajusta el margen izquierdo según sea necesario */
}

.profile-image {
  width: 400px;
  height: auto;
  border: 2px solid #ccc;
}

.edit-icon-container {
  margin-top: 10px;
}

.edit-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.image-uploader {
  display: flex;
  justify-content: center;
  font-family: 'Array', sans-serif;
  margin-top: 7vw;
  margin-bottom: 7vw;
}
.button-image-uploader{
    width: 100px;
    height: 60px;
    border: none;
    background-color: rgb(211, 253, 254);
}

.input-image-uploader {
    width: 400px;
    height: auto;
}

.bio-username{
  width: 540px;
  margin-right: 12vw;
}

.bio {
    font-family: 'Array', sans-serif;
}
.hidden {
  display: none;
}

.edit-profile{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  font-family: 'Array', sans-serif;
}

.button-edit-profile{
  margin-right: 20px;
  margin-top: 101px;
  width: 100px;
  height: 60px;
  font-family: 'Array', sans-serif;
  border: none;
  background-color: rgb(211, 253, 254);
}