.artworkContent {
  display: flex;
  justify-content: flex-start;
  padding-left: 17vw;
}

.artworkImage {
  width: auto; 
  height: 400px;
}

.image-content {
  margin-top: 6vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-bottom: 2vw;
}

.price {
  font-family: 'Array', sans-serif;
  font-size: 20px;
  font-weight: 1;
  color: #27343a;
  font-style: bold;
}

.title-art {
  font-family: 'Array', sans-serif;
  font-size: 30px;
  font-weight: 1;
  color: #27343a;
  font-style: bold;
}

.artist-name {
  font-family: 'Array', sans-serif;
  font-size: 20px;
  font-weight: 1;
  color: #27343a;
  font-style: bold;
  text-decoration: none;
  display: flex;
  margin-bottom: 1vw
}