.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinea las filas en el centro */
}

.columns-photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-container {
  width: 100px; /* Cada imagen ocupa el 25% del ancho del contenedor */
  padding: 5px;
  box-sizing: border-box;
}

.photo-image {
  width: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el espacio del contenedor */
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
}

.photo-image:hover {
  border-color: #333; /* Cambia el borde al pasar el cursor sobre la imagen */
}


.drag-drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #aaa;
  padding: 20px;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  cursor: pointer;
}

