.my-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Array', sans-serif;
    border: 1px solid #000000;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  .my-container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Array', sans-serif;
    border: 1px solid #000000;
    width: 650px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  .my-container-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Array', sans-serif;
    border: 1px solid #000000;
    width: 600px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .my-container-artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Array', sans-serif;
    border: 1px solid #000000;
    width: 600px;
    height: 1050px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .my-container-apply {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Array', sans-serif;
    border: 1px solid #000000;
    width: 600px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  
  .my-label-form {
    display: block;
    margin-bottom: 5px;
    color: #00d5ff;
    font-size: 39px;
  }
  
  .my-input-form {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
    outline: none;
    border-radius: 0;
  }
  
  .my-input-container-form {
    margin-bottom: 30px;
  }
  
  .my-button-form {
    width: 200px;
    margin-top: 1vw; 
    margin-left: 4vw;
    color: #00d5ff;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  
  .form-title {
    display: block;
    color: #00d5ff;
    font-size: 39px;
    position: relative;
    top: -10px;
  }
  
  .my-link-form {
    display: inline-block; 
    line-height: 50px;
    color: #00d5ff;
    background-color: #ffffff;
    margin-top: 2vw;
    width: 250px;
    height: 50px; 
    border: 1px solid #000000;
    text-decoration: none;
    text-align: center; 
  }

  .my-textarea-form {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px;
    outline: none;
    border-radius: 0;
  }

  .my-select-form {
    width: 350px;
    font-family: 'Array', sans-serif;
  }