.draw-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-controls {
  font-family: 'Array', sans-serif;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 2vw;
  margin-bottom: 2vw; /* Ajusta el margen inferior para separar del sketch */
  width: 50%; /* Ancho del contenedor de controles */
  margin-left: auto;
  margin-right: auto;
}



.sketch-buttons {
  font-family: 'Array', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -50px; /* Ajusta el margen inferior para separar del sketch */
  width: 50%; /* Ancho del contenedor de botones */
  margin-left: auto;
  margin-right: auto;
}

.sketch-buttons button {
  color: rgb(0, 0, 0);
  border: none;
  font-family: 'Array', sans-serif;
  background-color: rgb(255, 255, 255);
  margin-right: 10px; /* Ajusta el espacio entre los botones */
  border-radius: 1px;
  border: 1px;
}

.lineThickness {
  background-color: red; 
  color: white;  
  border: 1px solid transparent;  
}
