.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinea las filas en el centro */
}

.columns-photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-image {
  width: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el espacio del contenedor */
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
}

.photo-image:hover {
  border-color: #333; /* Cambia el borde al pasar el cursor sobre la imagen */
}

.board {
  position: fixed;
  left: 400px;
  top: 350px;
  bottom: 0;
  width: 700px;
  height: 400px;
  background-color: #f0f0f0; /* color de fondo opcional */
  overflow-y: auto; /* para habilitar el desplazamiento vertical si es necesario */
  padding: 20px; /* ajusta el relleno según sea necesario */
  border-right: 1px solid #ccc; /* opcional: agregar borde a la derecha */
}


