.footer {
  margin-top: 10vw;
  bottom: 0; /* Inicialmente oculto debajo de la pantalla */
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 1;
  transition: bottom 0.3s ease; /* Agregar transición suave */
}
/* Media query para ajustes en dispositivos móviles */
@media only screen and (max-width: 600px) {
  .footer {
    padding: 10px 0;
  }

  .foot-text {
    font-size: 12px;
  }
}
