.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Color de fondo de tu footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.foot-text {
  font-family: 'Array', sans-serif;
  color: #3c3737;
}
