.media-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8vw;
  margin-top: 8vw;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns-photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-container {
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
}

.photo-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
}

.photo-image:hover {
  border-color: #333; 
}
