
.home-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}
