.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
}

.navbar-nav {
  list-style: none;
  padding: 10px 0;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 3VW;
  margin-right: 2vw;
}

.navbar-nav .nav-item {
  margin: 0;
}

.navbar-nav .nav-link {
  padding: 8px 15px;
}

.nav-link#artistasDropdown {
  font-size: 40px; 
  color:  #46473E ;
  border-radius: 0 !important;
}

.navbar-expanded {
  width: 400px; 
}

.art-options {
  font-size: 37px;
  font-family: 'Oswald', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.content-right {
  margin-left: 500px;
}

.custom-button {
  background-color: #515151; 
  color: #FFFFFF; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
}

.content-window {
  display: inline-block;
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  max-width: 600px;
  max-height:700px;
  margin-top: 60px;
}

.content-right .container {
  display: inline-block;
  max-width: 600px;
  max-height:670px;
}

.fit-image {
  display: inline-block;
}
