.sidebar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.navbar-expanded {
  width: 530px; 
}

.art-options {
  font-size: 37px;
  font-family: 'Array', sans-serif;
  margin-left: 9vw;
  margin-top: 5vw;
}

.nav-lang {
  font-family: 'Array', sans-serif;
  color: #3c3737;
  margin-right:0.500em;
}

.class-lang {
  margin-left:0.500em;
  margin-bottom: 2vw;
}

.class-lang-expanded {
  margin-right: 2vw;
  align-self: flex-end; 
}

.language-button {
  background: none;
  border: none;
  padding: 8px 15px;
  font-family: 'Array', sans-serif;
  color: #3c3737;
  cursor: pointer;
}

.language-separator {
  width: 100%; 
  height: 1px;
  background-color: #3c3737;
  margin: 10px 0;
  display: block;
}

.logo-class {
  margin-top: 2vw;
}

.logo-class-expanded {
  position: relative; 
  margin-left: 17vw;
}

.logo2 {
  position: absolute;
  left: 0;
  top: -9vw;
  height: 300px;
  width: auto;
}

.close-button {
  font-size: 24px;
  border: none;
  background: none;
  font-size: 37px;
  font-family: 'Array', sans-serif;
  color:  #686868;
  margin-left:0.250em;
}

.open-button {
  font-size: 24px;
  border: none;
  background: none;
  font-size: 37px;
  font-family: 'Array', sans-serif;
  color:  #686868;
}

.language-button.selected {
  color: #939393;
}

.nav-link.selected {
  color: #939393;
}