.video-list-title {
  font-family: "Array", sans-serif;
  font-size: 15px;
  color: #27343a;
  text-align: center;
  margin: 1px 0; 
}

.view-title {
  font-family: "Array", sans-serif;
  margin-top: 3vw;
  font-size: 30px;
  color: #27343a;
  text-align: center;
  margin-bottom: 5vw;
}

.video-pic {
  width: 380px;
  height: auto;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 100px;
  margin-top: -2px;
  margin-bottom: -2px;
}

.video-item-link {
  margin-bottom: 2vw; 
  text-decoration: none;
  flex: 0 0 22%;
  position: relative;

}

.video-item {
  text-align: center;
}

.video-item:hover video {
  transform: scale(1.1);
  opacity: 0.8;
}

video {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

