.my-container {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  margin-left: 5vw;
  font-family: 'Exo 2', sans-serif;
}

.my-form-container {
  margin-right: 100px; 
}

.my-form {
  width: 400px; 
}

.my-form-group {
  margin-bottom: 15px;
}

#price {
  width: 100px;
}

.my-label {
  display: block;
  margin-bottom: 5px;
}

.my-input,
.my-select,
.my-textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 7px;
}

.my-textarea{
  height: 7vw;
}

.my-button {
  background-color: #0a2c51;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #0056b3;
}

.my-input:focus,
.my-select:focus,
.my-textarea:focus {
  border-color: #ff5733; 
  box-shadow: 0 0 5px rgba(255, 87, 51, 0.5); 
  outline: none; 
}

.my-button:focus {
  outline: none; 
  border-color: #ff5733; 
  box-shadow: 0 0 5px rgba(255, 87, 51, 0.5); 
}

.my-button:hover {
  background-color: #0056b3;
  border-color: #0056b3; 
}

.my-label {
  color: #ff33ee;
}